
@font-face {
    font-family: 'brandon_grotesquebold';
    src: url('./fonts/brandon_bld.woff2') format('woff2'),
         url('./fonts/brandon_bld.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesque_regularRg';
    src: url('./fonts/brandon_reg.woff2') format('woff2'),
         url('./fonts/brandon_reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'apercu-mono';
    src: url('./fonts/apercu-mono.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

.navigation-bar {
  top: 0;
}

.footer {
  bottom: 0;
}

.navigation-bar, footer {
  width: '100%';
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #231f20;
}

.top-bar {
  text-align: center;
  margin-right: 40px;
}

.bottom-bar {
  margin-top: 40px;
}

.item {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 12px;
    padding-bottom: 6px;
    text-decoration: none;
    font-family: 'brandon_grotesque_regularRg';
    font-size: 13pt;
}

.title {
  float: left;
  font-family: 'brandon_grotesquebold';
  font-size: 20.73pt;
  padding-top: 4px;
  padding-bottom: 1px;
  margin-bottom: 8px;
}

.copyright {
  font-family: 'apercu-mono';
  color: white;
}

.overlay {
  background-color: #231f20;
}

.image {
  z-index: 0;
}

.information {
  height: 150px;
  width: 100%;
  background-color: black;
  opacity: .5;
  z-index: 2;
  margin-top: -196px;
}

.artName {
  background-color: red;
  color: white;
}